{% extends "base.html" %}

{% block title %}Contact | Andrzej Zięba{% endblock %}

{% block content %}
<section class="contact-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4 text-tokyo-light">Get In <span class="text-tokyo-blue">Touch</span></h2>
                <p class="text-tokyo-light">Feel free to reach out for collaborations or just a friendly hello!</p>
                
                <div class="contact-info mt-5">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-envelope fa-lg me-3 text-tokyo-blue"></i>
                        <p class="mb-0 text-tokyo-light">programming.yippee729@passinbox.com</p>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-map-marker-alt fa-lg me-3 text-tokyo-blue"></i>
                        <p class="mb-0 text-tokyo-light">Kraków, Poland</p>
                    </div>
                </div>
                
                <div class="social-links mt-5">
                    <a href="https://github.com/juandrzej" target="_blank" class="me-3 text-tokyo-light"><i class="fab fa-github fa-2x"></i></a>
		    <a href="https://www.boot.dev/u/juandrzej" target="_blank" class="me-3 text-tokyo-light"><i class="fab fa-graduation-cap fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/andrzejzieba/" target="_blank" class="me-3 text-tokyo-light"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="https://www.hackerrank.com/profile/juandrzej" target="_blank" class="me-3 text-tokyo-light"><i class="fab fa-hackerrank fa-2x"></i></a>
                    <a href="https://x.com/ziebandrzej" class="me-3 text-tokyo-light"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
